.head-container {
  max-width: 500px;
  max-height: 500px;
  margin: auto;
  background: black;
  padding: 50px;
  height: 100%;
}
.add-button {
  margin-left: 20px;
  color: white;
  background-color: black;
  width: 70px;
  height: 30px;
  padding: 2px 2px;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  border-color: violet;
}

.add-button:hover {
  background-color: violet;
  color: white;
}

.heading {
  color: white;
  text-align: center;
}
.unorderedlists {
  padding-left: 25px;
  color: white;
  font-size: 20px;
  list-style: none;
}
.all-tabs {
  margin-left: 20px;
  background-color: black;
  font-size: 14px;
  height: 35px;
  border-radius: 5px;
  color: white;
  padding: 2px 2px;
  text-align: center;
  display: inline-block;
  font-size: 12px;
  border-color: violet;
}
.all-tabs:focus {
  background-color: violet;
}
.active-tabs {
  margin-left: 20px;
  background-color: black;
  font-size: 14px;
  height: 35px;
  border-radius: 5px;
  color: white;
  padding: 10px 10px;
  text-align: center;
  display: inline-block;
  font-size: 12px;
  border-color: violet;
}
.active-tabs:focus {
  background-color: violet;
}
.completed-tabs {
  margin-left: 20px;
  background-color: black;
  font-size: 14px;
  height: 35px;
  border-radius: 5px;
  color: white;
  padding: 2px 2px;
  text-align: center;
  display: inline-block;
  font-size: 12px;
  border-color: violet;
}
.completed-tabs:focus {
  background-color: violet;
}
.all-tabs:hover {
  background-color: violet;
  color: white;
}
.active-tabs:hover {
  background-color: violet;
  color: white;
}
.completed-tabs:hover {
  background-color: violet;
  color: white;
}
.edit-button {
  margin-left: 0px;
  background-color: black;
  border-color: violet;
  height: 30px;
  width: 60px;
  color: white;
  padding: 2px 2px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  font-size: 12px;
}

.edit-button:hover {
  background-color: violet;
  color: white;
}
.delete-button {
  margin-left: 20px;
  background-color: black;
  border-color: violet;
  color: white;
  height: 30px;
  width: 60px;
  text-align: center;
  display: inline-block;
  font-size: 12px;
  border-radius: 5px;
}
.delete-button:hover {
  background-color: violet;
  color: white;
}

.inputbar {
  height: 25px;
  width: 400px;
  align-self: center;
  position: relative;
}

.cancel-btn {
  margin-left: 0px;
  background-color: black;
  border-color: violet;
  height: 30px;
  width: 60px;
  color: white;
  padding: 2px 2px;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  font-size: 12px;
}
.cancel-button:hover {
  background-color: violet;
  color: white;
}
.save-btn {
  margin-left: 20px;
  background-color: black;
  border-color: violet;
  color: white;
  height: 30px;
  width: 60px;
  text-align: center;
  display: inline-block;
  font-size: 12px;
  border-radius: 5px;
}

.save-btn:hover {
  background-color: violet;
  color: white;
}

@media only screen and (max-width: 500px) {
  .add-button {
    text-align: center;
  }
  .active-tabs {
    text-align: center;
  }
  .completed-tabs {
    text-align: center;
  }
}
